<!DOCTYPE html>
<html lang="en">
  <head><% include partials/template/head.ejs %></head>
  <body>

    <div class="hero">
      <div class="header">
          <h2 class="typed"></h2>
        <a class="button" href="#">Find out more</a>
      </div>
    </div>

    <div class="container">
      <!-- <% include partials/template/nav.ejs %> -->
        <section>
          <h3>Who are we</h3>
          <div class="row team">
            <% team.forEach(function(person){ %>
              <div class="four columns team-box">
                <a href="<%= person.tw %>">
                  <img src="images/team/<%= person.img %>" alt="">
                  <h4><%= person.name %></h4>
                </a>
                <p><%= person.bio %></p>
              </div>
              <% }) %>
            </div>
        </section>
        <hr>
        <section>
          <h3> Past Events</h3>
          <div class="row">
              <% past.forEach(function(event){ %>
                <div class="four columns">
                  <h6><%= event.title %></h6>
                  <iframe src="<%= event.youtube_url %>" frameborder="0" allowfullscreen></iframe>
                </div>
              <% }) %>
          </div>
        </section>
    <% include partials/template/footer.ejs %>
    <% include partials/template/jsdefaults.ejs %>
  </body>
</html>
